<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="aka_guestbook">
	<insert id="insertGuestMsg" parameterType="GB_Guest_Msg_Command">
		INSERT INTO GB_GUEST_MSG( GB_ID,						GB_WRITER_EMAIL,	GB_CONTENT 		)
		VALUES					( SEQFACTORY_AKA_GB.NEXTVAL,	#{gb_writer_email},	#{gb_content} 	)
	</insert>
	
	
	<insert id="insertAdminMsg" parameterType="GB_Admin_Msg_Command" useGeneratedKeys="true" keyProperty="gb_id" >
		<selectKey keyProperty="gb_id" resultType="int" order="BEFORE">
			SELECT	SEQFACTORY_AKA_GB.NEXTVAL
			FROM	DUAL
		</selectKey>
		INSERT	INTO	GB_ADMIN_MSG( GB_ID,	GB_WRITER_EMAIL,	GB_CONTENT,		GB_TO_GUEST_ID )
		VALUES						( #{gb_id},	#{gb_writer_email},	#{gb_content},	#{gb_to_guest_id} )
	</insert>
	
	<select id="getGuestMsgById" parameterType="int" resultType="GB_Guest_Msg_Command">
		SELECT	* 
		FROM	GB_GUEST_MSG
		WHERE	GB_ID = #{gb_id}
	</select>
	
	<select id="getAdminMsgById" parameterType="int" resultType="GB_Admin_Msg_Command">
		SELECT	*
		FROM	GB_ADMIN_MSG
		WHERE	GB_ID = #{gb_id}	
	</select>
	
	
	<select id="getGuestMsgs" parameterType="SAE" resultType="GB_Guest_Msg_Command" >
		SELECT * 
		FROM    (
		    SELECT ROWNUM RNUM, GB_ID, GB_WRITER_EMAIL, GB_CONTENT, GB_REGDATE, GB_FROM_ADMIN_ID
		    FROM (
		        SELECT GB_ID, GB_WRITER_EMAIL, GB_CONTENT, GB_REGDATE, GB_FROM_ADMIN_ID
		        FROM GB_GUEST_MSG
		        ORDER BY GB_ID DESC        
		    )
		)
		<![CDATA[
		WHERE #{start} <= RNUM AND RNUM <= #{end}
		]]>
	</select>
	
	<update id="updateGuestMsgRef" parameterType="GB_GuestAndAdmin"> 
		UPDATE	GB_GUEST_MSG
		SET		GB_FROM_ADMIN_ID = #{gb_admin_id}
		WHERE	GB_ID = #{gb_guest_id}
	</update>
	
	<select id="getGuestMsgCount" resultType="int">
		SELECT COUNT(*)
		FROM GB_GUEST_MSG		
	</select>
	
	<delete id="deleteMsgById" parameterType="int">
		DELETE	FROM	GB_GUEST_MSG
		WHERE	GB_ID	=	#{gb_id}
	</delete>
	
	<delete id="deleteReplyById" parameterType="int">
		DELETE	FROM	GB_ADMIN_MSG
		WHERE	GB_ID	=	#{gb_id}
	</delete>
	
	<update id="resetReplyStatus" parameterType="int">
		UPDATE	GB_GUEST_MSG
		SET		GB_FROM_ADMIN_ID	=	-1
		WHERE	GB_ID	=	#{gb_id}
	</update>
	

	
	
</mapper>







