<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="aka_guestbook">
	<insert id="insertGuestMsg" parameterType="GB_Guest_Msg_Command">
		INSERT INTO GB_GUEST_MSG( GB_ID,						GB_WRITER_EMAIL,	GB_CONTENT 		)
		VALUES					( SEQFACTORY_AKA_GB.NEXTVAL,	#{gb_writer_email},	#{gb_content} 	)
	</insert>

	<select id="getGuestMsgs" parameterType="SAE" resultType="GB_Guest_Msg_Command" >
		SELECT * 
		FROM    (
		    SELECT ROWNUM RNUM, GB_ID, GB_WRITER_EMAIL, GB_CONTENT, GB_REGDATE, GB_FROM_ADMIN_ID
		    FROM (
		        SELECT GB_ID, GB_WRITER_EMAIL, GB_CONTENT, GB_REGDATE, GB_FROM_ADMIN_ID
		        FROM GB_GUEST_MSG
		        ORDER BY GB_ID DESC        
		    )
		)
		<![CDATA[
		WHERE #{start} <= RNUM AND RNUM <= #{end}
		]]>
	</select>
	
</mapper>







