<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="aka_post">

	<select id="getPosts" parameterType="SAE" resultType="PostCommand">
		SELECT *
		FROM	(
					SELECT	ROWNUM RNUM,	POST_ID,		SERIES_ID,		USER_EMAIL,	IMG_ID,
							POST_TITLE,		POST_CONTENT,	POST_REGDATE,	POST_VIEWCOUNT,
							POST_SUMMARY,	POST_IMG_LIST
					FROM	(
								SELECT	POST_ID,		SERIES_ID,		USER_EMAIL,	IMG_ID,
										POST_TITLE,		POST_CONTENT,	POST_REGDATE,	POST_VIEWCOUNT,
										POST_SUMMARY,	POST_IMG_LIST
								FROM	AKA_POST
								ORDER	BY	POST_ID DESC
							)	
				)
		<![CDATA[
			WHERE #{start} <= RNUM AND RNUM <= #{end}
		]]>
	</select>
	
	<select id="getPostCount" resultType="int">
		select count(*) from aka_post
	</select>
	
	<insert id="insertPost" parameterType="PostCommand"> 
		INSERT INTO AKA_POST
			(
				POST_ID, 		SERIES_ID, 		USER_EMAIL,
				IMG_ID, 		POST_TITLE,		POST_CONTENT,
				POST_REGDATE, 	POST_VIEWCOUNT, post_summary,
				POST_IMG_LIST
			) 
		VALUES
			( 
			   #{post_id},			#{series_id},		#{user_email},
			   #{img_id},			#{post_title},		#{post_content},
			   sysdate,         	#{post_viewcount},  #{post_summary},
			   	#{post_img_list}
			)
	</insert>
	
	<select id="getMaxPostNum" resultType="int">
		select MAX(POST_ID) from aka_post
	</select>
	
	<select id="getPostById" parameterType="String" resultType="postCommand">
		SELECT	*
		FROM	AKA_POST
		WHERE	POST_ID = #{ post_id }
	</select>
	
	<select id="getUserNicknameByPostEmail" parameterType="string" resultType="string">
		SELECT  USER_NICKNAME
		FROM	AKA_USER
		WHERE	USER_EMAIL	=	#{ post_email }
	</select>
	
	<select id="getSeriesTitleByPostSeriesId" parameterType="int" resultType="string">
		SELECT	SERIES_TITLE
		FROM	AKA_SERIES
		WHERE	SERIES_ID	=	#{ post_seriesId }
	</select>
	
	<update id="viewCount_Incrementer" parameterType="int">
		UPDATE	AKA_POST
		SET		POST_VIEWCOUNT	=	POST_VIEWCOUNT + 1
		WHERE 	POST_ID	=	#{post_id}	
	</update>
	
	<select id="getSeriesIdByPostId" parameterType="int" resultType="int">
		SELECT	SERIES_ID
		FROM	AKA_POST
		WHERE	POST_ID = #{post_id}
	</select>
	
	<delete id="deletePostById" parameterType="int">
		DELETE	FROM	AKA_POST
		WHERE	POST_ID	=	#{post_id}
	</delete>
	<delete id="deletePostBySeriesId" parameterType="int">
		DELETE  FROM AKA_POST
		WHERE  SERIES_ID    =   #{series_id} 
	</delete>
	<delete id="deletePostByWriterEmail"  parameterType="String">
		DELETE
		FROM    AKA_POST
		WHERE   USER_EMAIL  =   #{user_email}
	</delete>
	
</mapper>







